---
title: User research and interface report
weight: 7
last_reviewed_on: 2019-04-11
review_in: 6 months
---

# User research and interface report

Every 3 months, identity providers must produce a report detailing:

* planned interface changes
* planned research activity
* changes implemented in the last 3 months
* research conducted in the last 3 months

<a href="/downloads/User_Research_Plans_Template.odt" download>Download the report template</a>
