---
title: User experience assurance
weight: 7
last_reviewed_on: 2019-05-31
review_in: 6 months
---

# User experience assurance

As outlined in the [service delivery requirements](#more-information), the user experience assurance process has two components. These are regular reporting by each identity provider, and performance monitoring by the Verify team.

## Regular reporting

Each identity provider has to provide a report every 3 months.

The report must explain, for the last 3 months:

* any changes to the user interface
* the user research done and how it has been used to improve the user journey

And for the next 3 months:

* any planned changes to the user interface
* any planned user research

The Verify team uses the information provided to decide whether changes are justified, and whether they meet Verify’s rules and guidance.

## Report template 

<a href="/downloads/User_Research_Plans_Template.odt" download>Download the report template</a>

## Review process

If the Verify team find the report satisfactory, they will sign it off. If the report does not conform to the guidance, the Verify team may request further research or changes to the service.

If the identity provider does not comply with the request, the Verify team may conclude that they are damaging the GOV.UK Verify brand and pursue the issue through legal channels.

Examples of non-conformance with the guidance might include: 

* the research not considering a wide range of users
* non-existent or deficient performance analysis
* the design, including dark patterns
* no Welsh version being provided

## Performance monitoring

A drop in performance means a sustained drop in the sign in and sign up rates over at least 3 weeks. These rates are detailed in the reports the Verify team sends to identity providers each week.

If the Verify team notice what appears to be a drop in performance, they will:

* look for causes
* ask the identity provider to explain
* decide whether there is a problem

The Verify team will consider factors beyond the identity provider’s control, or which don’t relate to the user journey. These factors might include:

* large volumes of traffic from a service which performs poorly
major hub outages 
* seasonal fluctuations 
* an A/B test or other Verify initiative

If the Verify team decide there is a problem, they will request relevant changes to the service. If the identity provider does not make the changes, the Verify team may:

* request further research and changes to the service
* request user journeys and conduct user research
* conclude that the identity provider is damaging the GOV.UK Verify brand and pursue the issue through legal channels.

## More information

If you do not have access to the service delivery requirements, or need any further information, please [contact the Verify team](mailto:idp_assurance@digital.cabinet-office.gov.uk).
